*.suo
*.wixpdb
*.msi
*.user
*.sdf
*.opensdf
*.nupkg
output
intermediate
obj
bin
_Resharper*
*.ReSharper
ipch
*.InstallLog
packages
Scratch/snippets.txt
Scratch/test2.props
/Powershell.Provider/test.ps1
/psexamples
/_unused_code.cs
/mar25.txt
